
pythonProject/DATA/AEIndex_Sunspots.csv
pythonProject/DATA/df1.csv
pythonProject/DATA/df14.csv
pythonProject/DATA/dfR_Dst.csv
pythonProject/DATA/dfR_Dst2.csv
pythonProject/DATA/Dst y R max 1.xlsx
pythonProject/DATA/Dst_max1.csv
pythonProject/DATA/DstIndex_Sunspots.csv
pythonProject/DATA/dt2.csv
pythonProject/DATA/R_Dstdataframe.csv
pythonProject/DATA/R_max1.csv
